.btn-collection {
  border-radius: 20px;
  background-color: $green;
  color: #fff;
  border: 1px solid #fff;
  margin-top: 20px;
  padding: 10px 26px;
  font-family: 'Nunito', sans-serif ;
  opacity: 0.7;
  transition: 1s;
  -webkit-transform: translateZ(0);
}

.btn:hover {
  color: #fff;
  opacity: 1;
}

.border-btn {
  background-color: $orange;
  border: 1px solid #fff;
  border-style: double;
  border-width: 6px;
  font-size: 21px;
  padding: 12px 20px;
  color: #fff;
  text-transform: uppercase;
}

.border-btn:hover {
  opacity: 0.8;
}

.border-btn a {
  color: #fff;
}

.border-btn a:hover {
  text-decoration: none;
}

@media only screen and (min-width: 1440px) {
  .btn-collection {
    border-radius: 30px;
    padding: 14px 34px;
    font-size: 16px;
  }
}

@media only screen and (min-width: 1680px) {
  .btn-collection {
    margin-top: 25px;
  }
}
