// Search form
.search-form {
  @extend .form-inline;
}
.search-form label {
  font-weight: normal;
  @extend .form-group;
}
.search-form .search-field {
  @extend .form-control;
}
.search-form .search-submit {
  @extend .btn;
  @extend .btn-default;
}

// Contact form
div.wpcf7 {
  font-size: 17px;
}

.wpcf7 label {
    font-weight: 400;
    width: 100%;
  }

.contact-form-header {
  font-size: 48px;
  margin-left: -4px;
  text-align: center;
}

.contact-form-p {
  font-size: 17px;
  padding-bottom: 20px;
  text-align: center;
}

.wpcf7 input[type="text"],
.wpcf7 input[type="email"],
.wpcf7 input[type="tel"],
.wpcf7 textarea {
    outline-color: #fff;
    padding: 10px;
    width: 100%;
    border-radius: 1px;
    border: 2px dashed #ffbd89;
    margin-top: 5px;
}

.wpcf7 input[type="text"],
.wpcf7 input[type="email"],
.wpcf7 input[type="tel"] {
  height: 2.5em;
}

.wpcf7-submit {
  background-color: $brand-primary;
  border: 1px solid #ffffff;
  border-style: double;
  border-width: 6px;
  font-size: 21px;
  width: 100%;
  padding: 12px;
  color: white;
  text-transform: uppercase;
}

.wpcf7-submit:hover {
  opacity: 0.8;
}

.wpcf7-submit:active {
  border-width: 8px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.wpcf7-submit:focus {
  outline: 0;
}

.social-icons {
  margin-left: 4px;
}

.social-links {
  //margin-left: 25px;
  display: flex;
  flex-direction: column;
  h3 {
    font-size: 40px;
  }
  img {
    width: 35px;
    margin-right: 8px;
  }
}

.social-links-header {
  font-size: 40px;
}

.social-item {
  margin-top: 16px;
  p:nth-child(1) {
    color: #ffbd89;
    font-size: 21px;
    margin-bottom: 0;
  }
}

.social-media-container {
  display: flex;
  flex-direction: row;
  img {
    margin: 10px 15px 0 4px;
    width: 40px;
    height: 40px;
  }
  img:hover {
    opacity: 0.8;
  }
}

.social-media {
  margin-top: 30px;
}

.contact {
  font-size: 17px;
}

.contact .container-ido {
  background-color: #f9f9f9;
}

// error messages
div.wpcf7-response-output {
    margin: 0;
    padding: 0.2em 1em;
}

div.wpcf7-validation-errors {
    border: 4px solid #ff9393;
}

div.wpcf7-mail-sent-ng {
    border: 2px solid #FF9800;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #ffebdb inset !important;
}

span.wpcf7-not-valid-tip {
    color: #fd4848;
  }

// media queries
@media only screen and (min-width: 500px) {
  .social-links {
    //margin-left: 100px;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: row;
  }

  .social-media {
    margin-top: 0;
    flex-grow: 1;
  }

  .social-icons {
    flex-grow: 1;
  }

}

@media only screen and (min-width: 768px) {
  div.wpcf7 {
    padding: 25px 15px;
  }

  .wpcf7 input[type="text"],
  .wpcf7 input[type="email"],
  .wpcf7 input[type="tel"] {
      width: 70%;
  }

  .wpcf7-submit {
    width: 40%;
  }

  .contact-form-header {
    text-align: left;
  }

  .contact-form-p {
    text-align: left;
  }

  .social-links {
    margin-left: 80px;
  }
}

@media only screen and (min-width: 1024px) {
  .social-links {
    flex-direction: column;
    padding-top: 30px;
    margin-left: 40px;
  }

  .social-media {
    padding-top: 20px;
  }
}

@media only screen and (min-width: 1440px) {
  div.wpcf7 {
    padding: 25px 45px;
  }
}
