// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #f9c5c5;
$green:                 #8cc596;
$grey:                  #525453;
$light-grey:            #f3f3f3;
$darkgrey:              #333;
$greenfont:             #46774F;
$orange:                #ffbd89;
