// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #f9c5c5;
$green:                 #8cc596;
$grey:                  #4b504e;
$icon-grey:             #717775;
$light-grey:            #f9f9f9;
$darkgrey:              #333;
$greenfont:             #46774F;
$orange:                #f1ae8d;
$header:                #333131;
$header-green:          #41864a;

// #5b5b5b;

// maybe should be orange: #ffcca3;
// current: $orange:       #fdc192;
// old $orange:            #ffcca3;
