.footer {
  background-color: #5a5a5a;
  color: $light-grey;
  padding: 25px 0 0;
  font-size: 12px;
  text-align: center;

}

.footer-copyright {
  margin: 5px 0 0;
  a {
    color: $light-grey;
  }
}

.footer__bottom__copyright {
  order: 2;
}

.footer-nav {
  .nav>li {
    margin: 3px 3px;
  }
  .nav>li>a {
    padding: 0;
  }
}

.social-links-footer {
  img {
    width: 16px;
  }
}

.footer-nav {
  ul {
    list-style-type: none;
    li {
      display: inline-block;
    }
  }
}

.footer-nav {
  .navbar-nav {
    margin: 0;
    a {
      color: $light-grey;
    }
  }
}

.footer-nav {
  .nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: inherit;
    color: $orange;
  }
}

.footer-address {
  margin-top: 5px;
}

.footer__contact {
  margin: 10px 0 0;
  font-size: 14px;
  a {
    color: $light-grey;
  }
}

.footer__bottom {
  display: flex;
  flex-direction: column;
  padding: 0 0 20px;
  &__icons {
    margin: 0 0 10px;
    .fa {
      font-size: 32px;
      color: $light-grey;
    }
    .fa-instagram {
      padding-left: 12px;
    }
  }
}


#menu-primary-1 {
  font-family: 'Lora', sans-serif;
  text-transform: uppercase;
}

@media only screen and (min-width: 360px) {
  .footer-nav {
    .nav>li {
      margin: 3px 6px;
    }
    .nav>li>a {
      padding: 10px 3px;
    }
  }
}

@media only screen and (min-width: 768px) {
  .footer-nav {
    .navbar-nav {
      float: none;
      li {
        float: none;
        a {
          padding: 10px 15px;
          font-size: 16px;
        }
      }
    }
  }


.footer__bottom {
  justify-content: space-between;
  flex-direction: row;
  padding: 20px 40px;
  &__icons {
    margin: 0;
  }
}

.footer__bottom__copyright {
  order: 1;
}

}

#back-to-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 9999;
    width: 42px;
    height: 42px;
    text-align: center;
    line-height: 38px;
    background: #f5f5f5;
    color: #444;
    cursor: pointer;
    border: 0;
    border-radius: 30px;
    text-decoration: none;
    transition: opacity 0.2s ease-out;
    opacity: 0;
    font-size: 18px;
}
#back-to-top:hover {
    background: #e9ebec;
}
#back-to-top.show {
    opacity: 0.8;
}
