.featured-thumbnail img {
max-width: 100%;
height: auto !important;
}

.featured-image-wrapper {
  position: relative;
  overflow: hidden;
  text-align: center;
  opacity: 0.8;
}

.logo-banner {
  display: none;
  justify-content: flex-end;
  padding-right: 95px;
  margin-top: 10px;
  img {
    width: 22px;
    margin-left: 10px;
    opacity: 0.3;
  }
  img:hover {
    opacity: 0.5;
  }
}



.caption-banner-wrapper {
  // center div
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  // style
  padding: 2.25em 5em;
  background: rgba(255,255,255,0.65);
  text-align: center;
  color: $darkgrey;
  .caption-banner {
    text-transform: uppercase;
    font-size: 3.4em;
    font-family: 'Lato', sans-serif;
  }
  .caption-banner-description {
    font-size: 1.2em;
  }
}

.navbar-header {
  margin: 15px 0;
}

.navbar-header {
    vertical-align: middle;
    p {
      display: none;
    }
}

.navbar {
  background-color: #fff;
  color: #fff;
  margin-bottom: 0px;
  border: none;
}

.navbar-default .navbar-brand {
  color: $orange;
  font-family: 'Parisienne', serif;
  font-size: 37px;
}

.navbar-default .navbar-toggle .icon-bar {
  //background-color: #fff;
}

.navbar-default .navbar-nav>li>a, .navbar-default .navbar-text {
  color: $header;
  height: 45px;
}

.menu-primary-container {
  font-size: 16px;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  color: $orange;
}

.navbar-nav>li>a:focus {

}

.nav>li {
  margin: 3px 6px;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: $orange;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  background-color: inherit;
  color: $orange;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: inherit;
}

.navbar-toggle .icon-bar {
    width: 28px;
    height: 3px;
  }

.navbar-default {
  text-align: center;
}

.navbar-nav>li>a {
    text-align: center;
}

.navbar-nav>li>a:hover {
    //border-bottom: 2px solid $header-green;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

// remove hover colour
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    color: $orange;
}

@media only screen and (min-width: 768px) {
  .logo-banner {
    display: flex;
  }

  .navbar-brand {
    float: none;
    padding: 0;
  }

  .navbar-header {
    margin: 0;
  }

  .navbar .container {
    // margin-top: 40px; normal
    margin-top: 15px; // for social-icons
    margin-bottom: 30px;
  }

  .nav>li>a {
    padding: 10px;
  }

  .navbar-default .navbar-brand {
    font-size: 46px;
  }

  .navbar .navbar-nav {
    display: inline-block;
    float: right;
    vertical-align: top;
  }

  .navbar>.container-fluid .navbar-brand, .navbar>.container .navbar-brand {
    margin-left: 0;
  }

  .navbar-header {
    margin-top: 10px;
      p {
        margin-top: 8px;
        text-transform: uppercase;
        margin-bottom: 5px;
        font-size: 13px;
        display: block;
      }
  }

  .navbar-default .navbar-nav>li>a, .navbar-default .navbar-text {
    height: 50px;
  }

  .navbar-nav.navbar-center, .navbar-header-center {
    margin-left: 50%;
    transform: translateX(-50%);
  }

}

@media only screen and (min-width: 1024px) {
  .navbar-default .navbar-brand {
    font-size: 60px;
  }

  .menu-primary-container {
    font-size: 17px;
  }

  .navbar .container {
    margin-top: 20px;
    margin-bottom: 35px;
  }

  .nav>li {
    margin: 3px 10px;
  }

}


@media only screen and (min-width: 1280px) {
  .logo-banner {
    margin-top: 10px;
  }
  .caption-banner-wrapper {
    padding: 2.25em 7em;
  }

  .menu-primary-container {
    font-size: 18px;
  }

  .nav>li {
    margin: 3px 18px;
  }
}

@media only screen and (min-width:1440px) {
  .navbar .container {
    width: 86%;
    margin-top: 25px;
    margin-bottom: 40px;
  }

  .navbar-default .navbar-brand {
    font-size: 70px;
  }

  .logo-banner img {
    width: 25px;
  }

}
