.logo-banner {
  display: none;
  justify-content: flex-end;
  padding-right: 95px;
  margin-top: 10px;
  a {
    margin-left: 10px;
  }
  .fa-top-header {
    font-size: 26px;
  }
}

.navbar-toggle {
  border: none;
}

.navbar-header {
  margin: 15px 0;
}

.navbar {
  background-color: #fff;
  color: #fff;
  margin-bottom: 0px;
  border: none;
  font-family: 'Lora', serif;
  text-align: center;
  border-bottom: 1px solid #bfbfbf;
}

.navbar-default .navbar-brand {
  color: $orange;
  font-family: 'Parisienne', serif;
  font-size: 32px;
  letter-spacing: .06rem;
}

.navbar-default .navbar-nav>li>a {
  color: $grey;
  text-transform: uppercase;
  transition: 0.2s;
  font-size: 16px;
  letter-spacing: .1rem;
  padding: 0;
}

.nav>li {
  margin: 0 0 35px;
  &:first-of-type {
    margin: 35px 0;
  }
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: lighten($grey, 38%);
}

.navbar-default .navbar-nav>.active>a:hover {
  color: lighten($grey, 38%);
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: #bfbfbf;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  background-color: inherit;
}


.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: inherit;
}

.navbar-toggle .icon-bar {
    width: 28px;
    height: 3px;
  }

// remove hover colour
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    color: $orange;
}

.navbar-brand {
  float: left;
}

@media only screen and (min-width: 360px) {
  .navbar-default .navbar-brand {
    font-size: 36px;
  }
}

@media only screen and (min-width: 768px) {
  .logo-banner {
    display: flex;
  }

  #menu-primary .active a {
    padding-bottom: 5px;
    position: relative;
  }

  #menu-primary .active a::after {
    border-bottom: 1px solid #969897;
    content: "";
    position: absolute;
    left: 50%;
    top: 100%;
    width: 35%;
    transform: translateX(-50%);
  }

  .navbar-default .navbar-nav>li>a {
    font-size: 14px;
  }

  .navbar-header {
    margin: 0;
  }

  .navbar .container {
    // margin-top: 40px; normal
    margin-top: 15px; // for social-icons
    margin-bottom: 30px;
  }

  .navbar-default .navbar-brand {
    font-size: 46px;
  }

  .navbar .navbar-nav {
    display: inline-block;
    float: right;
    vertical-align: top;
  }

  .navbar>.container-fluid .navbar-brand, .navbar>.container .navbar-brand {
    margin-left: 0;
  }

  .navbar-nav.navbar-center, .navbar-header-center {
    margin-left: 50%;
    transform: translateX(-50%);
  }

}

// collapse navbar at...
@media (max-width: 1023px) {
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
  }
  .navbar-brand {
    padding: 15px;
    font-size: 18px;
    line-height: 20px;
    height: 50px;
  }
}

@media only screen and (min-width: 1024px) {
  .navbar-default .navbar-brand {
    font-size: 56px;
  }

  .navbar .container {
    margin-top: 20px;
    margin-bottom: 35px;
  }

  .navbar-brand {
    padding: 0;
  }

  .nav>li {
      margin:  10px 40px 10px 0;
      &:first-of-type {
        margin: 10px 40px 10px 0;
      }
      &:last-of-type {
        margin: 10px 0 10px 0;
      }
  }

}

@media only screen and (min-width: 1280px) {
  .logo-banner {
    margin-top: 10px;
  }

  .caption-banner-wrapper {
    padding: 2.25em 7em;
  }

  .navbar-default .navbar-nav>li>a {
    font-size: 16px;
  }

}

@media only screen and (min-width:1440px) {
  .navbar .container {
    width: 86%;
    margin-top: 20px;
    margin-bottom: 35px;
  }

  .navbar-default .navbar-brand {
    font-size: 70px;
  }

  .logo-banner img {
    width: 25px;
  }
}

@media only screen and (min-width:1600px) {
  .nav>li>a {
    padding: 3px 26px;
  }
}
