// gallery page

.top-page-text {
  text-align: center;
  font-size: 18px;
  padding: 40px 0 10px;
  width: 90%;
  margin: 0 auto;
}

.hr-gallery {
  padding-bottom: 20px;
  margin: 15px 50px;
}

.find-us {
  text-align: center;
  color: $orange;
}

// prices
.price-list {
  border: 1px solid grey;
  margin: 0 auto;
  width: 100%;
  margin-bottom: 80px;
  padding: 15px 40px 40px;
  background-color: aliceblue;
  font-family: 'Lora', sans-serif;
  h2 {
    padding-bottom: 18px;
    text-align: center;
  }
  tr {
    border-bottom: 1px solid #868686;
  }
  td {
    padding: 10px 0;
  }
  td:nth-child(2) {
    float: right;
  }
  table {
    margin-top: 25px;
    margin-bottom: 40px;
  }
  p {
    text-align: center;
  }
}

.price-list-table {
  width: 100%;
  margin: 0 auto;
}

.price-container {
  margin: 0.5em;
}

//delivery
.delivery-text {
  text-align: center;
  margin-bottom: 40px;
}

.delivery-btn {
  text-align: center;
  margin-bottom: 40px;
}

.map {
  background-color: $grey;
  height: 300px;
  width: auto;
}

@media only screen and (min-width: 768px) {
  .top-page-text {
    padding: 40px 0 10px;
  }

  .hr-gallery {
    margin: 20px 50px;
  }

  // price
  .price-list {
    width: 70%;
    padding: 25px 50px 50px;
  }

}

@media only screen and (min-width: 1024px) {
  .price-list-table {
    width: 85%;
  }
}

@media only screen and (min-width: 1440px) {
  .price-list-table {
    width: 75%;
  }
}
