// gallery page

//envira gallery
.envira-gallery-wrap .envira-gallery-public .envira-gallery-item img {
   transition: all .3s ease-in-out !important;
}
.envira-gallery-wrap .envira-gallery-public .envira-gallery-item:hover img {
   transform: scale(1.05);
}
.envira-gallery-wrap .envira-gallery-public .envira-gallery-item,
.envira-gallery-wrap .envira-gallery-public .envira-gallery-item .envira-gallery-item-inner {
   overflow: hidden;
}

  // Hide Title
  .envira-gallery-item-inner .envira-title { opacity: 0; }
  // Show Title when hovering over gallery image
  .envira-gallery-item-inner:hover .envira-title {
    opacity: 0 !important;
    display: none !important;

  }

  .envira-gallery-wrap {
    // margin: 25px auto 20px auto !important;
}

.top-page-text {
  text-align: center;
  font-size: 18px;
  padding: 15px 0 0;
  width: 80%;
  margin: 0 auto;
}

.hr-gallery {
  padding-bottom: 20px;
  margin: 15px 50px;
}

// prices
.price-list {
  border: 1px solid grey;
  margin: 0 auto;
  width: 100%;
  margin-bottom: 80px;
  padding: 15px 40px 40px;
  background-color: aliceblue;
  font-family: 'Lora', sans-serif;
  h2 {
    padding-bottom: 18px;
    text-align: center;
  }
  tr {
    border-bottom: 1px solid #868686;
  }
  td {
    padding: 10px 0;
  }
  td:nth-child(2) {
    float: right;
  }
}

.price-list-table {
  width: 100%;
  margin: 0 auto;
}

.price-container {
    margin: 0.5em;
  }

@media only screen and (min-width: 568px) {

}

@media only screen and (min-width: 768px) {
  .top-page-text {
    padding: 40px 0 10px;
  }

  .hr-gallery {
    margin: 20px 50px;
  }

  // price
  .price-list {
    width: 70%;
    padding: 25px 50px 50px;
  }

}

@media only screen and (min-width: 1024px) {
  .price-list-table {
    width: 85%;
  }
}

@media only screen and (min-width: 1440px) {
  .price-list-table {
    width: 75%;
  }
}



  // contact page
  .contact-form-container {
    width: 100%;
    padding: 15px;
  }

  .contact {
    .row {
      margin: 0;
    }
  }

  .contact-row {
    .contact-col {
      padding-left: 2px;
      padding-right: 2px;
    }
  }
